/* Aisa Setia Primastuti
121140092
Prak Pengweb 5 RB */

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #444;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #8844dd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #FF6347; /* Red */
}

button:active {
    background-color: #32CD32; /* Green */
}
